// place your custom styles here

h1, h2, h3, h4, h5 {
    font-family: var(--font-family);
}

.vp-hero-infos {
  display: none;
}

.image-container {
    height: 150px; width:361px;
    max-width: calc(100% - 20px);
    padding: 10px;
    float: right;
}

.vp-tag {
  background-color: #63C7A6 !important;            
}

.page-tag-item {
  background: #326F95 !important;
  color: white !important;
  border-radius: 5%;
}

.vp-category {
  color: black !important;
  background: #63C7A6 !important;
}

.vp-category-count{
  color: black !important;
}
.page-category-item {
  color: black !important;
  background: #63C7A6 !important;
}

.vp-sidebar > .vp-sidebar-links > li > .vp-sidebar-link {
  line-height: 0.8em;
}

.vp-sidebar {
  font-size: 85%;
}