stages:
  - setup
  - build
  - deploy

build:
  stage: build
  image:
    name: registry.it.hs-heilbronn.de/dsf/ig-builder
    entrypoint: [""]
  before_script:
    - export _JAVA_OPTIONS="-Xmx8g -Xms4g"
  script:
    - chmod +x _updatePublisher.sh
    - ./_updatePublisher.sh --yes
    - sushi .
    - chmod +x _genonce.sh
    - ./_genonce.sh
  artifacts:
    name: "$CI_PROJECT_NAME"
    paths:
      - output/
#  tags:
#    - docker

pages:
  stage: deploy
  script:
    - mkdir public
    - cp -r output/* public
    - cp public/index.html public/404.html
  artifacts:
    paths:
      - public
